/* reset */
* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif sans;
  }
  
  
  
  /* global styles */
  :root {
    --clr-primary-400: hsl(213, 84%, 40%);
    --clr-primary-800: hsl(213, 54%, 80%);
    --clr-primary-900: hsl(213, 34%, 87%);
  
    --clr-neutral-100: hsl(0, 9%, 7%);
    --clr-neutral-300: hsl(0, 0%, 30%);
    --clr-neutral-700: hsl(190, 2%, 51%);
    --clr-neutral-800: hsl(0, 9%, 94%);
    --clr-neutral-900: hsl(0, 9%, 97%);
  
    --fs-large: 1.5rem;
    --fw-normal: 400;
    --fw-bold: 800;
  }
  
  main {
    grid-area: main;
    background-color: black;
    gap: 2rem;
    padding-left: 8rem;
    padding-right: 8rem;
  
    padding-bottom: 8rem;
    padding-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  

  
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
  display: grid;
  grid: 'header header header'
      'main main main'
        'aside aside aside'
  'footer footer footer';
  grid-template-rows: 1fr 1fr 1fr auto;
  grid-template-columns: 1fr 1fr 1fr auto;
 padding-right: 5rem;
  height: 100vh;
  container-type: inline-size;
}


  
 /* body {
    top: 0px;
    left: 0px;
    display: grid;
    grid-template-areas:
      'header header'
      'main main'
      'footer footer';
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 1fr ;
 
    height: 100vh;
  }*/
  
  .header {
    grid-area: header;
    background-color: #3DE07E; 
   /* background-color: #3DE07E;*/
    text-align: center;
   /* padding: 10px;*/
    justify-content: center;      
    list-style: none;
    /* align-items: start;*/
    /*background-image: url("poster.png");*/
    background-repeat: no-repeat;
    li {
          text-align: start;
        justify-content: top; 
    }
    img {
      max-width: 100%;;
    }
  
  .header-caption h1 {
         text-align: center;
        justify-content: center; 
      font-size: 102px;
      padding-bottom: 8rem;
      padding-top: 8rem;
    }
  }
  
  
  @media (max-width: 600px) {
  .main {
  
    background-color: black;
    /*padding: 10px;*/
    text-align: start;

  }
    }


    main, header {
      container-type: inline-size;
      container-name: main;
    }
    .main-caption h2 {
      container-type: inline-size;
      color: white;
      text-align: start;
      justify-content: space-between; 
      font-size: 64px;
      margin-top: 27%;
 }
    
  
  @media (max-width: 600px) {
    body {
      grid-template-areas:
        'header'
        'main'
        'aside'
        'footer';
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
    }
    .header-caption {
      text-align: center;
     justify-content: center; 
      font-size: 51px;
  
  }
  }
  
  /* Block styles */
  .card {
    display: grid;
    background: var( --clr-neutral-100);
    color:hsl(0, 9%, 97%);
    border: 1px solid var( --clr-neutral-100);
   /* border-radius: 0.5rem;*/
    overflow: hidden;
    text-align: left;
    container-type: inline-size;
    > * + * {
      padding-inline: 1rem;
    }
  
    h2 {
      font-size: var(--fs-large);
      padding-block: 2.5rem;
     
    }
  
    img {
      width: 100%;
    }
  
    a {
      color: var(--clr-neutral-300);
  
      &:hover,
      &:focus-visible {
        text-decoration: none;
      }
  
      &::before {
        content: " * ";
      }
    }
  
    footer {
      padding-block-end: 1rem;
  
      > p {
        color: blueviolet;
      }
    }
  
    main .aside {
padding-bottom: 70%;
    }

    .faded {
      background-color: var(--clr-neutral-300);
    }
  }
  
  button {
  color: white;
  background-color: red;
  width: 155px;
  font-size: 14px;
  padding: 4px 4px 4px 4px;
 
  }
  
  
/*.main:nth-child(10)*/
.card-1 {
    grid-column: 1 / span 2;
    flex-grow: 1;
    justify-content: center;   
    padding-inline: var(--clr-neutral-300);
    /*margin-left: 50%;*/
    width: 100%;
    color: var( --clr-neutral-100);
    background-color: var(--clr-neutral-900);
     margin-top: 10%; 
  }
  /*.main:nth-child(11)*/
  .card-2 {
    grid-column: 2 / span 2;
    flex-grow: 1;
    justify-content: center; 
    /*margin-left: 50%;*/
    width: 100%;
   color: var( --clr-neutral-100);
    background-color: var( --clr-neutral-900);
     margin-top: 50%;
  }
  
  .aside {
      grid-column: 1 / span 2;
      flex-grow: 1;
      justify-content: start;   
      padding-inline: var(--clr-neutral-300);
      /*margin-left: 50%;*/
      width: 100%;
      
       margin-right: 50%;
       margin-top: 30%; 
  }
.button-aside button {

  color: white;
  text-align: center;
  justify-content: end;  
  width: 755px;
  font-size: 3rem;
  padding: 0px;

  
}

  .footer {
   grid-area: footer;
  background: rgb(47, 45, 45);
  height: 10rem;
  /*margin-top: 2rem;*/
  padding: 2rem;
  padding-bottom: 0px;
  ul {
      list-style: none;
  
      a {
          text-decoration: none;
          color: white;
      }
      
  }
  
  display: flex;
  
  justify-content: space-around;
  color:white;
  
  .Social-media {
    display: flex;
  }
  
  img {
      height: 1.5rem;
      
  }
  
  }

  
  
  /*container definieras*/
 .table {
   width: 100%;
    display: flex;
    flex-direction: row;
    color: rgb(244, 242, 242);
    font-size: 2rem;
    justify-content: center;
    border-spacing: 20px;
    width: 100%;
    padding-left: 50%;
    font-family: `Arial`, sans-serif;
   
    padding: 50%;
    gap: 2rem;
    border-spacing: 3rem;
    box-shadow: 0 8px 15px red;

}
table {
  border: 1px solid black;
}

td {
  justify-content: start; 
  border: 1px solid;

  border-spacing: 20px;
  font-size: 2rem;
}
hr {
justify-content: start;
font-size: 1rem;  
background-color: #ED363633;    
text-align: left;
padding: 10px 15px ;
box-sizing: 70%;
border: 1px solid black;
}
table td:nth-child(1) {
  text-align: left;

  }

table td:nth-child(2) {
text-align: left;

}

table td:nth-child(3) {
  text-align: left;

  }
